package {{baseRecordPackageName}};

{{#baseRecordImports}}
{{toString}}
{{/baseRecordImports}}

public class {{baseRecordClassName}} extends BaseRecord {
    {{#columns}}
    public {{javaTypeName}} {{javaFieldName}};
    {{/columns}}
}
