package {{baseTablePackageName}};

import org.springframework.jdbc.core.RowMapper;

import javax.sql.DataSource;
import com.onea.dale.DtoRowMapper;
import com.onea.dale.BaseRecord;
import com.onea.dale.BaseTable;

public class {{baseTableClassName}} extends BaseTable<{{concreteRecordClassName}}> {

    private RowMapper<{{concreteRecordClassName}}> rm = DtoRowMapper.newInstance({{concreteRecordClassName}}.class);

    public {{baseTableClassName}}(DataSource dataSource) {
        super(dataSource);
    }

    @Override
    protected RowMapper<{{concreteRecordClassName}}> rowMapper() {
        return rm;
    }

    @Override
    public String tableName() {
        return "{{tableName}}";
    }

}
