 package {{baseTablePackageName}};

import org.springframework.jdbc.core.RowMapper;

import javax.sql.DataSource;
{{#baseTableImports}}
{{toString}}
{{/baseTableImports}}

public class {{baseTableClassName}} extends AbstractBaseTable<{{concreteRecordClassName}}> {

    private RowMapper<{{concreteRecordClassName}}> rm = new RowMapper<{{concreteRecordClassName}}>() {
        @Override
        public {{concreteRecordClassName}} mapRow(ResultSet rs, int rowNum) throws SQLException {
             return new {{concreteRecordClassName}}(rs, rowNum);
        }
    };

    public {{baseTableClassName}}(DataSource dataSource) {
        super(dataSource);
    }

    @Override
    public RowMapper<{{concreteRecordClassName}}> rowMapper() {
        return rm;
    }

    @Override
    public String tableName() {
        return "{{tableName}}";
    }

    {{#primaryKey}}
    public Optional<{{concreteRecordClassName}}> findOptional({{pkMethodParameterList}}) {
        String sql =
            "select * "+
            "from {{tableName}} "+
            "where {{pkSqlCondition}} ";

        return optionalSingle(sql, {{pkArgumentList}});
    }

    public {{concreteRecordClassName}} findRequired({{pkMethodParameterList}}) {
        String sql =
            "select * "+
            "from {{tableName}} "+
            "where {{pkSqlCondition}} ";

        return requiredSingle(sql, {{pkArgumentList}});
    }

    {{/primaryKey}}

}
