package {{baseDatabasePackageName}};

import javax.sql.DataSource;

public class {{baseDatabaseClassName}} {

    private DataSource dataSource;

    {{#tables}}
    private {{concreteTableClassName}} {{tableInstanceName}} = null;
    {{/tables}}

    protected {{baseDatabaseClassName}}(DataSource dataSource) {
        this.dataSource = dataSource;
    }

    {{#tables}}
    public {{concreteTableClassName}} get{{concreteTableClassName}}() {
        if ({{tableInstanceName}} == null) {
            {{tableInstanceName}} = new {{concreteTableClassName}}(dataSource);
        }
        return {{tableInstanceName}};
    }

    {{/tables}}
}
