package com.example;

import javax.sql.DataSource;

public class {{databaseClassName}} extends {{baseDatabaseClassName}} {

    public {{databaseClassName}}(DataSource dataSource) {
        super(dataSource);
    }
}
