package {{concreteTablePackageName}};

import javax.sql.DataSource;

public class {{concreteTableClassName}} extends {{baseTableClassName}} {
    public {{concreteTableClassName}}(DataSource dataSource) {
        super(dataSource);
    }
}
