package {{concreteTablePackageName}};

import javax.sql.DataSource;

/**
 * {{concreteTableClassName}} –
 *
 */
public class {{concreteTableClassName}} extends {{baseTableClassName}} {
    public {{concreteTableClassName}}(DataSource dataSource) {
        super(dataSource);
    }
}
