package {{concreteTablePackageName}};

{{#concreteTableImports}}
{{toString}}
{{/concreteTableImports}}

public class {{concreteTableClassName}} extends {{baseTableClassName}} {
    public {{concreteTableClassName}}(DataSource dataSource) {
        super(dataSource);
    }
}
