package {{packageName}};

import javax.sql.DataSource;

import org.springframework.jdbc.core.support.JdbcDaoSupport;

public class {{baseDatabaseClassName}} extends JdbcDaoSupport {

    {{#tables}}
    private {{concreteTable.className}} {{tableInstanceName}} = null;
    {{/tables}}

    protected {{baseDatabaseClassName}}(DataSource dataSource) {
        setDataSource(dataSource);
    }

    {{#tables}}
    public {{concreteTable.className}} {{tableInstanceName}}() {
        if ({{tableInstanceName}} == null) {
            {{tableInstanceName}} = new {{concreteTable.className}}(getDataSource());
        }
        return {{tableInstanceName}};
    }

    {{/tables}}
}
