package {{baseRecordPackageName}};

{{#baseRecordImports}}
{{toString}}
{{/baseRecordImports}}

public class {{baseRecordClassName}} implements BaseRecord {
    {{#columns}}
    private {{javaTypeName}} {{javaFieldName}};
    {{/columns}}

    public {{baseRecordClassName}}() {
    }

    public {{baseRecordClassName}}({{baseRecordClassName}} other) {
    {{#columns}}
        this.{{javaFieldName}} = other.{{javaFieldName}};
    {{/columns}}
    }

    public {{baseRecordClassName}}(ResultSet rs, int rowNum) throws SQLException {
    {{#columns}}
        this.{{javaFieldName}} = rs.{{{resultSetGetter}}};
    {{/columns}}
    }

    {{#columns}}
    public {{javaTypeName}} {{getterName}}() {
        return {{javaFieldName}};
    }

    public void {{setterName}}({{javaTypeName}} {{javaFieldName}}) {
        this.{{javaFieldName}} = {{javaFieldName}};
    }

    {{/columns}}

    @Override
    public Map<String, Object> asMap() {
        Map<String, Object> map = new HashMap<>();
        {{#columns}}
        map.put("{{columnName}}", this.{{javaFieldName}});
        {{/columns}}
        return map;
    }
}
