 package {{baseTable.packageName}};

import org.springframework.jdbc.core.RowMapper;

import javax.sql.DataSource;
{{#baseTableImports}}
{{toString}}
{{/baseTableImports}}

public class {{baseTable.className}} extends AbstractBaseTable<{{concreteRecord.className}}> {

    private RowMapper<{{concreteRecord.className}}> rm = new RowMapper<{{concreteRecord.className}}>() {
        @Override
        public {{concreteRecord.className}} mapRow(ResultSet rs, int rowNum) throws SQLException {
             return new {{concreteRecord.className}}(rs, rowNum);
        }
    };

    public {{baseTable.className}}(DataSource dataSource) {
        super(dataSource);
    }

    @Override
    public RowMapper<{{concreteRecord.className}}> rowMapper() {
        return rm;
    }

    @Override
    public String tableName() {
        return "{{tableName}}";
    }
    
    @Override
    public String schemaName() {
        return "{{schemaName}}";
    }

    {{#hasPrimaryKey}}
    public Optional<{{concreteRecord.className}}> findByPK({{pkMethodParameterList}}) {
        String sql =
            selectStar() +
            "where {{pkSqlCondition}} ";

        return optionalSingle(sql, {{pkArgumentList}});
    }
    {{/hasPrimaryKey}}
    
    {{#finderMethods}}
    public List<{{concreteRecord.className}}> {{methodName}}({{methodParameterList}}) {
        String sql =
            selectStar() +
            "where {{sqlCondition}} ";

        return query(sql, {{argumentList}});
    }
    
    {{/finderMethods}}
    
}
