package {{concreteEntity.packageName}};

{{#concreteEntityImports}}
{{toString}}
{{/concreteEntityImports}}

public class {{concreteEntity.className}} {

    public {{concreteEntity.className}}() {
    }

    public {{concreteEntity.className}}({{concreteEntity.className}} other) {
        super(other);
    }

}
