package {{concreteRecord.packageName}};

{{#concreteRecordImports}}
{{toString}}
{{/concreteRecordImports}}

public class {{concreteRecord.className}} extends {{baseRecord.className}} {

    public {{concreteRecord.className}}() {
    }

    public {{concreteRecord.className}}({{concreteRecord.className}} other) {
        super(other);
    }

    public {{concreteRecord.className}}(ResultSet rs, int rowNum) throws SQLException {
        super(rs, rowNum);
    }
}
