package {{concreteRecordPackageName}};

{{#concreteRecordImports}}
{{toString}}
{{/concreteRecordImports}}

public class {{concreteRecordClassName}} extends {{baseRecordClassName}} {

    public {{concreteRecordClassName}}() {
    }

    public {{concreteRecordClassName}}({{concreteRecordClassName}} other) {
        super(other);
    }

    public {{concreteRecordClassName}}(ResultSet rs, int rowNum) throws SQLException {
        super(rs, rowNum);
    }
}
