package {{concreteTable.packageName}};

import static org.junit.Assert.assertNotNull;

import org.junit.Test;

public class {{concreteTable.className}}IT extends BaseTableIT {

    public {{concreteTable.className}} table() {
        return database().{{tableInstanceName}}();
    }

    @Test
    public void testNotNull() {
        assertNotNull(table());
    }


}
