package {{concreteTable.packageName}};

{{#concreteTableImports}}
{{toString}}
{{/concreteTableImports}}

public class {{concreteTable.className}} extends {{baseTable.className}} {
    public {{concreteTable.className}}(DataSource dataSource) {
        super(dataSource);
    }
}
